{% extends 'main/loyal.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Кто мы?</h1>
        <p>В Glowskin мы верим, что каждый заслуживает наилучшего ухода за своей кожей. Наша команда профессионалов с многолетним опытом предлагает широкий спектр услуг и продуктов, которые помогут вам выглядеть и чувствовать себя великолепно. Мы используем только лучшие ингредиенты и инновационные технологии для достижения выдающихся результатов.</p>
        <br>
        <h2>Что мы предлагаем?</h2>
        <p>Обширный Каталог Продуктов: У нас вы найдете широкий ассортимент уходовой косметики — от очищающих средств до увлажняющих кремов. Все продукты представлены с подробными описаниями.
            <br>
            Отзывы Пользователей: Мы собираем реальные отзывы от пользователей, чтобы вы могли узнать о каждом продукте из первых уст. Читайте мнения других девушек и выбирайте только лучшее!
            <br>
            Сравнение Цен: На нашем сайте вы сможете легко узнать цены на косметику от различных продавцов. Это поможет вам сэкономить время и деньги, выбирая лучшие предложения.</p>
        <br> <h3>Почему это важно?</h3>
        <p>Уход за собой — это не только про красоту, но и про уверенность в себе. Правильный выбор косметики может существенно улучшить состояние вашей кожи и поднять настроение. Мы стремимся сделать этот процесс максимально простым и приятным для вас.</p> <br>

    </div>
{% endblock %}