{% extends 'main/loyal.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="numbers">
        <h1>Контакты</h1>
        <p>Если у вас возникли вопросы, вы можете связаться с нами</p>
        <ul>
            <a href ="https://t.me/+375293051606" target="_blank"><li><i class="fab fa-telegram" style="color:MediumPurple;"></i> Telegram </li></a>
            <a href ="mailto:imanmamaeva6@gmail.com" target="_blank"><li><i class="fas fa-envelope" style="color:Khaki;"></i> Gmail </li></a>
            <a href ="https://www.instagram.com/il_fukg" target="_blank"><li><i class="fab fa-instagram" style="color:red;"></i> Instagram </li></a>
        </ul>
    </div>
{% endblock %}