{% extends 'main/loyal.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="features">
        <h1>Что такое любовь к себе?</h1>
        <p>В нашем стремительном мире забота о себе часто уходит на второй план. Тем не менее, любовь к себе — это не просто модное слово, а необходимая практика для душевного и физического благополучия. Начните с простых шагов: уделите время себе, научитесь принимать и любить каждую часть своего тела, включая ваше лицо.</p>
        <br>
        <h2>Уход за лицом: Важный элемент саморазвития</h2>
        <p>Уход за лицом — это не только про красоту, но и про здоровье. Кожа — это зеркало вашего внутреннего состояния. Заботясь о ней, вы показываете себе, что достойны лучшего. Правильный уход включает в себя очищение, увлажнение и защиту. Используйте качественные средства, которые подходят вашему типу кожи, и не забывайте о регулярных процедурах.</p>
    </div>
{% endblock %}